/bin
/lib
/source/temp
/data/examples
/setup/jdataanalyse/PROJECT_ASSISTANT

# Platform
.DS_Store

Makefile
*.autosave
*.user*
.vscode/.BROWSE.VC.DB
data/data-1.db

setup/jdataanalyse/.DS_Store
source/framework/.DS_Store

setup/jdataanalyse/pack/bin/setup.exe
